/*Seen below are the "styles" that define the sites visual elements. 
mostly, the code below provides color, structure, spacing and layout to our html elements.
the most advanced "feature" i added is the hover effects for the reset and submit buttons seen at the bottom. */

body{
    margin:0;/*eliminates margin that is automatically added to the body*/
    background-color:#191414;
    color:white;
  }
  
  form{
    border:1px solid #1db954;
    width:20vw;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    align-content:center;
    border-radius:15px;
    font-size:16px;
    background-color:#222222;
  }
  
  #username,#password{ /*rounds the corners of text input boxes*/
    border-radius:50px;
  }
  
  label,input{ /*adds margin spacing between objects*/
    margin-bottom:1em;
    margin-top:0.5em;
  }
  
  .button{
    width:4em;
    border-radius:50px;
  }
  
  .flexbox{
    width:100%;
    display:flex;
    justify-content:center;
  }
  
  .flexbox .flex-item{
    width:45%;
  }
  
  #title-text{ /*text heading styles*/
    text-align:center;
    margin:1em;
    padding:1em;
    background-color:#222222;
    border-radius:1em;
    border:1px solid #1db954;
  }

#reset:hover{ /*mouse hover effect that causes button color to change on "mouseover"*/
    background-color:#c3487f;
}
  #submit:hover{
    background-color:#77DD77;
  }
  #submit{
    background-color:#cccccc;
  }